.Home-Page {
    height: max-content;
    width: 100%;
    position: relative;
}

.Home-txt {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0;
}

.Home-Roof {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    background-color: #01268d;
}

.Home-windows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 62%;
}

.Home-windows h2 {
    width: 46%;
    color: #fff;
    margin: 0;
}

.Log-Btn-Cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 28vw;
    border-radius: 5px;
}

.Log-Btn-Cont h3 {
    color: #fff;
    font-size: 13px;
}

.Log-Btn {
    width: 40%;
    height: 60%;
    background: none;
    border: 2px #fff solid;
}

.Log-Btn-Cont :hover {
    background-color: #fff;
    color: #01268d;
}

.Log-Btn h3 {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-height: 92vh;
    height: max-content;
    overflow-y: auto;
    background-color: #fff;
}

.GlobThera {
    width: 90vw;
    height: 40vh;
    background-color: #2b3e9d;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Glob-title {
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffffb4;
    font-size: 8vw;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
}

.GlobThera-body {
    display: flex;
    width: 100%;
    height: 89%;
}

.Glob-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
}

.Glob-img {
    max-width: 40%;
}

.Glob-txt-btn-conts {
    display: flex;
    flex-flow: column wrap;
    place-content: center space-around;
    align-items: center;
    width: 50%;
    height: 89%;
    color: #fff;
    font-size: 3vw;
}

.Glob-txt-cont {
    display: flex;
    flex-flow: column wrap;
    place-content: center end;
    height: 49%;
}

.Glob-btn-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Glob-btn {
    height: 100%;
    width: 60%;
    background-color: #ffffffb4;
    color: #2b3e9d;
    border: none;
    border-radius: 50px;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
}

.Glob-txt-cont p {
    margin: 0;
}

.Theras-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center center;
    gap: 1% 0;
    width: 90vw;
    height: 54vh;
    margin-bottom: 8%;
}

.Theras-cont>.Therapy:nth-child(1) {
    background-color: #7C95A6;
}

.Theras-cont>.Therapy:nth-child(2) {
    background-color: #DEB841;
}

.Theras-cont>.Therapy:nth-child(3) {
    background-color: #40F246;
}

.Theras-cont>.Therapy:nth-child(4) {
    background-color: #2B3A67;
}

.Theras-body {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Theras-img {
    max-width: 58%;
    margin-left: 2%;
}

.Therapy-title {
    color: #01268d;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    margin: 0;
    height: 29%;
}

.Theras-btn-cont {
    height: 100%;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.Theras-btn {
    height: 30%;
    width: 56%;
    border-radius: 50%;
    border: none;
    background-color: #2B3A67;
}

.Theras-btn p {
    height: 100%;
    margin: 0;
    font-size: 4vw;
    color: #fff;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
}

.Therapy {
    width: 88%;
    height: 96%;
    border-radius: 20px;
}

.Therapy:last-child .Therapy-title {
    color: #fff;
}

.Therapy:last-child .Theras-btn {
    background-color: #fff;
}

.Therapy:last-child .Theras-btn p {
    color: #01268d;
}
