.Create-overlay {
   margin: 0;
}

.modal-content {
   height: 51vh;
   width: 98vw;
}

.ProsCards-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   background-color: #041B5E;
}

.close-button-procrd {
   width: 5vw;
   position: absolute;
   top: 24%;
   right: 1%;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.close-button-procrd img {
   width: 65%;
}

.carousel-controls {
   position: absolute;
   top: 76%;
   width: 41%;
   display: flex;
   justify-content: space-between;
   transform: translateY(-50%);
}

.carousel-controls button {
   font-size: 7vw;
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: #041B5E;
}

.carousel-controls span {
   display: flex;
   align-items: center;
   font-size: clamp(16px, 2.8vw, 28px);
}

.therapy-info-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 43%;
   width: 80%;
   border-radius: 25px;
}

.therapy-info-cont h1 {
   color: #041B5E;
}

.therapy-info-cont p {
   width: 72%;
   color: #041b5e;
   font-size: 1.2em;
   text-align: center;
}

.therapy-info-text {
   width: 100%;
   height: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 1.2em;
   font-weight: 500;
   text-align: center;
}

.therapy-close-button {
   width: 7vw;
   position: absolute;
   top: 31%;
   right: 15%;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.therapy-info-title {
   width: 100%;
   height: 20%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 1.2em;
   font-family: Itim, serif;
   font-weight: lighter;
}

.therapy-close-button img {
   width: 82%;
}

.ProCard-cont {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-color: #fff;
}

.ProCard-sec1,
.ProCard-sec2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
   height: 100%;
}

.proInfo-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50%;
   background-color: #041B5E;
   border-bottom-right-radius: 76px;
}

.profile-image {
   width: 20vw;
   max-width: 83px;
   border: solid 3px #fff;
   border-radius: 50%;
   background-color: #fff;
}

.proInfo-cont h1 {
   color: #fff;
   font-size: 2em;
}

.proInfo-cont h3 {
   color: #fff;
   font-size: 1em;
}

.proDescription-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50%;
}

.proDescription-cont p {
   width: 80%;
   color: #000;
   font-size: 1.2em;
   font-weight: 500;
   text-align: center;
}

.GlobProDescription-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50%;
}

.ProTeras-cont {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
   width: 100%;
   height: 50%;
}

.GlobProDescription-cont p {
   width: 80%;
   color: #000;
   font-size: clamp(16px, 4.2vw, 18px);
   font-weight: 500;
   text-align: center;
}

.ProTeras-cont h2 {
   width: 100%;
   height: 23%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #fff;
   font-size: 1.1em;
   background-color: #041B5E;
   text-align: center;
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
   margin: 0;
   padding: 0;
}

.ProTeras-list {
   width: 100%;
   height: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.ProTeras-list ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   place-items: center center;
   list-style: none;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 80%;
}

.ProTeras-list ul li {
   border-radius: 5px;
}

.ProTeras-list ul li:nth-child(1) {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 85%;
   font-size: 2.5vw;
   background-color: #38DDE3;
   color: #041B5E;
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
}

.ProTeras-list ul li:nth-child(2) {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 85%;
   background-color: #041B5E;
   color: #fff;
   font-size: 2.6vw;
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
}

.ProTeras-list ul li:nth-child(3) {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 85%;
   background-color: #EF5557;
   color: #fff;
   font-size: 2.6vw;
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
}

.ProTeras-list ul li:nth-child(4) {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 85%;
   background-color: #687AD7;
   color: #fff;
   font-size: 3.2vw;
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
}

@media (max-width: 370px) {
   .modal-content {
      height: 60vh;
   }

   .ProCard-cont {
      flex-direction: column;
   }

   .ProCard-sec1,
   .ProCard-sec2 {
      flex-direction: row;
      width: 100%;
   }

   .ProCard-sec1 {
      align-items: flex-start;
      height: 90%;
   }

   .proInfo-cont {
      height: 90%;
      width: 60%;
   }

   .profile-image {
      max-width: 25vw;
   }

   .proDescription-cont {
      width: 40%;
   }

   .proDescription-cont {
      height: 100%;
   }

   .GlobProDescription-cont {
      height: 100%;
      width: 70%;
   }

   .GlobProDescription-cont p {
      height: 80%;
      margin-bottom: 10%;
      font-size: 1em;
   }

   .ProTeras-cont {
      height: 100%;
   }

   .ProTeras-cont h2 {
      height: 20%;
   }

   .proInfo-cont h1 {
      font-size: 1.5em;
   }

   .therapy-info-cont {
      height: 53%;
      width: 93%;
   }


   .therapy-info-cont p {
      font-size: 1em;
      color: #000;
   }

   .therapy-icon {
      font-size: 7vw;
   }

   .therapy-close-button {
      top: 27%;
      right: 8%;
   }

   .modal-content-procards {
      height: 55%;
   }
}

@media (min-width: 371px) {
   .therapy-info-cont p {
      font-size: 1em;
      color: #fff;
   }

   .therapy-icon {
      font-size: 5vw;
   }

   .therapy-close-button {
      width: 5vw;
   }

   .modal-content-procards {
      height: 60%;
   }
}

@media (min-width: 571px) {

   .ProTeras-cont h2 {
      height: 25%;
   }

   .ProTeras-list ul li:nth-child(2) {
      font-size: 2.4vw;
   }

   .ProTeras-list ul li:nth-child(3) {
      font-size: 2.4vw;
   }

   .ProTeras-list ul li:nth-child(4) {
      font-size: 2.4vw;
   }

   .therapy-info-cont {
      height: 57%;
      width: 43%;
   }

   .therapy-info-text p {
      font-size: clamp(16px, 2.8vw, 28px);
      color: #000;
   }

   .therapy-info-cont h1 {
      font-size: clamp(20px, 4vw, 50px);
   }

   .therapy-close-button {
      top: 24%;
      right: 30%;
      width: 3vw;
   }

   .therapy-icon {
      font-size: 3vw;
   }
}

@media (min-width: 800px) {
   .modal-content-procards {
      height: 80%;
      width: 80%;
   }

   .close-button-procrd {
      top: 13%;
      left: 85%;
      width: 3.2vw;
   }

   .profile-image {
      width: 15vw;
      max-width: 150px;
   }

   .carousel-controls {
      top: 86%;
   }

   .carousel-controls button {
      font-size: 5vw;
   }

   .proDescription-cont p {
      font-size: 2em;
   }

   .ProTeras-cont h2 {
      font-size: 2.2vw;
   }

   .GlobProDescription-cont p {
      font-size: 2.2vw;
   }
}