* {
    margin: 0;
    padding: 0;
}

.prospace-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.prodata-title {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #041b5e;
    align-items: center;
    justify-content: center;
}

.prodata-title h1 {
    font-size: 4vw;
    color: #fff;
    font-family: Itim, serif;
    font-weight: 200;
    font-style: normal;
}

.question-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63%;
    width: 6%;
    border: solid 3px #fff;
    border-radius: 50%;
    margin-right: 2.5%;
    cursor: pointer;
}

.question-cont h1 {
    font-size: 3vw;
}

.prodata-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
    background-color: #2b3e9d;
}

.data-cont {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro-name-cont {
    height: 24%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.user-image-cont {
    height: 84%;
    width: 17%;
    display: flex;
    flex-direction: column;
    border: solid #fff 4px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-image-cont button {
    margin-top: 9%;
    background: none;
    border: none;
    color: #fff;
}

.pro-name {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    color: #fff;
    font-family: Itim, serif;
    font-weight: 200;
}

.pro-personal-info {
    height: 65%;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 2%;
}

.pro-button-cont {
    height: 11%;
    width: 37%;
}

.hdv-cont {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.upload-hdv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-hdv img {
    height: 60%;
}

.upload-hdv h3 {
    font-size: 2vw;
    color: #fff;
    font-family: Itim, serif;
    font-weight: 200;
}

.pro-professional-card {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pro-certificates-cont {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.file-name {
    width: 75%;
}

.personal-info-files-cont {
    width: 100%;
    display: flex;
}

.personal-info-files-cont p {
    width: 50%;
    background-color: #2b3e9d;
    text-align: center;
}