.Therapy-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 76%;
    background-color: #2b3e9d;
    margin: 0;
    padding: 0;
}

.inactive-cont {
    width: 60%;
    height: 80%;
    border: none;
}

.Therapy-title-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.Therapy-title-cont h1 {
    color: #ffffff21;
    margin: 1% 0;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(20px, 10vw, 66px);
}

.Ask-Therapy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
}

.Ask-Therapy-data-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 5%;
}

.Ask-Therapy-subtittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 90%;
    background-color: #1c2e88;
}

.Ask-Therapy-subtittle h2 {
    color: #ffd;
    margin: 1% 0;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
}

.Ask-Therapy-fields-conts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 69%;
    margin-bottom: 5%;
}

.Ask-Therapy-field-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 32%;
}

.Ask-Therapy-field-cont h3 {
    color: #fff;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(16px, 3.2vw, 38px);
    margin: 1% 0;
}

.Ask-Therapy-fields-input {
    height: 48%;
    width: 100%;
    font-size: clamp(16px, 3.1vw, 36px);
    padding-left: 1%;
}

.Ask-Therapy-fields-input::placeholder {
    font-size: clamp(16px, 3.1vw, 36px);
    color: #000;
    font-family: Itim, serif;
}

.Ask-Therapy-field-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.Ask-Therapy-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.Ask-Therapy-txt h3 {
    font-size: clamp(20px, 4vw, 40px);
    font-family: Itim, serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

.Therapies-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center center;
    width: 86%;
    height: 48%;
}

.white-line {
    height: 5px;
    width: 86%;
    background-color: #fff;
}

.Therapy-tittle-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: 52%;
    border: none;
}

.Therapy-tittle {
    font-size: clamp(20px, 3.8vw, 36px);
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    color: #0c2292;
}

.Therapies-cont>.Therapy-tittle-cont {
    background-color: #2B3A67;
}

.inactive-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
}

.inactive-txt {
    font-size: clamp(20px, 3.8vw, 36px);
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    color: #12193fa6;
}

.inactive-cont {
    background-color: #4F63C2;
}

.Therapies-cont .Therapy-tittle-cont {
    color: #fff;
}

.Therapy-txt-field {
    height: 100%;
    width: 98%;
    background-color: #fff;
    font-size: clamp(16px, 3.1vw, 36px);
    font-family: Itim, serif;
    font-weight: lighter;
    color: #000;
    padding-top: 1%;
    padding-left: 1%;
    text-align: left;
}

.Therapy-txt-field::placeholder {
    width: 98%;
    font-size: clamp(16px, 3vw, 30px);
    text-align: left;
    padding-top: 0.5%;
    padding-left: 1%;
    color: #8686868a;
}

.Therapy-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 48%;
    margin-bottom: 2%;
}

.Therapy-info h3 {
    font-size: 4vw;
    font-family: Itim, serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.Ask-Therapy-pros-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center center;
    width: 100%;
}


.Ask-Therapy-date-cont {
    width: 90%;
}

.DynamiCanlendar-btn-cont {
    height: 38vh;
    width: 109%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.Date-info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    border: solid 2px #1c2e88;
    border-radius: 10px;
    margin-bottom: 3%;
}

.DynamiCanlendar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    background-color: #1c2e88;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 2%;
}

.Date-info-txt {
    display: flex;
    width: 68%;
    height: 30%;
    text-align: center;
    border: solid 2px #1c2e88;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
}

.Date-info-txt h3 {
    font-size: 5.5vw;
    font-family: Itim, serif;
    font-weight: 500;
    font-style: normal;
    color: #1c2e88;
}

.Date-info-description {
    display: flex;
    width: 100%;
    height: 50%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.error-border {
    border: 2px solid red;
    border-radius: 5px;
    padding: 0.5rem;
}

.therapy-error-cont {
    margin-top: 1rem;
    text-align: center;
}

.calendar-cont {
    background-color: #fff;
}

.therapy-price-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.close-payment-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 101;
    background: none;
    color: white;
    font-size: 6vw;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.DynamiCanlendar-btn-cont.hidden {
    display: none;
}

.Therapy-selection-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

@media (min-width: 571px) {
    .Ask-Therapy-subtittle h2 {
        font-size: clamp(16px, 3.5vw, 40px);
    }

    .Ask-Therapy-subtittle {
        margin-bottom: 3%;
    }
}

@media (min-width: 571px) {
    .Ask-Therapy-data-cont {
        height: 100vh;
        width: 80%;
    }
}

@media (min-width: 800px) {

    .Therapy-body {
        width: 100%;
    }

    .Ask-Therapy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .Ask-Therapy hr {
        display: none;
    }

    .Ask-Therapy-data-cont {
        width: 50%;
    }

    .Therapy-selection-cont {
        width: 50%;
    }

    .Ask-Therapy-fields-conts {
        width: 98%;
        margin-left: 2%;
    }

    .Ask-Therapy-txt h3{
        font-size: clamp(20px, 3.5vw, 35px);
    }

    .calendar-cont {
        width: 100%;
    }
}