.Dates-info-mcont {
    height: 60vh;
}

.user-citas-container {
    width: 100%;
    height: 50%;
}

.user-win-name-cont {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-win-name-cont h1 {
    font-size: 4vw;
    color: #fff;
    font-weight: lighter;
    font-family: Itim, serif;
    width: max-content;
}

.citas-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    row-gap: 10px;
}

.cita-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 96%;
}

.cita-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 96%;
    background-color: #fff;
    border-radius: 5px;
}

.cita-field-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 12%;
    background-color: #041B5E;
    border-radius: 5px;
}

.cita-field-date p {
    color: #fff;
    font-size: 3vw;
    font-family: Itim, serif;
    font-weight: lighter;
}

.cita-pro-cont {
    width: 70%;
    margin-left: 5%;
}

.cita-time-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: #fff;
    background-color: #041B5E;
    padding: 0.2%;
    border-radius: 5px;
}

.reunion-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8%;
    background-color: #041B5E;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reunion-btn img {
    width: 58%;
    height: 58%;
    object-fit: contain;
}

.cita-pro-name{
    font-size: 3.5vw;
    font-family: Itim, serif;
    color: #041B5E;
    font-weight: lighter;
}

.dates-modal-content{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #041B5E;
}