.Log-cont {
    position: absolute;
    left: 65%;
    top: 7%;
    width: 33vw;
    height: 36vh;
    border: 3px #01268d solid;
    background-color: #fff;
}

.Create-cont {
    position: absolute;
    left: 65%;
    top: 8%;
    width: 33vw;
    height: 55vh;
    border: 3px #01268d solid;
    background-color: #fff;
}